/* src/components/posts/Comments.css */
.comments-root {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.add-comment {
  display:flex;
  gap:8px;
  margin-bottom: 10px;
}

.add-comment input {
  flex:1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.add-comment button {
  padding: 8px 12px;
  border-radius: 8px;
  background:#1976d2;
  color:white;
  border:none;
  cursor:pointer;
}

.comments-list { display:flex; flex-direction:column; gap:12px; }

.comment-item { padding:8px;  background: #1b1b1b; border-radius: 20px;}

.comment-meta { display:flex; gap:8px; font-size:0.9rem; color:#333; align-items:center; cursor: pointer;}
.comment-user { font-weight:600; color: white; }
.comment-date { color:#888; font-size:0.8rem; }

.comment-text, .reply-text { margin:6px 0; }

.comment-actions button, .reply-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}
.comment-user-pic, .reply-user-pic {
  width:32px;
  height:32px;
  border-radius:50%;
  object-fit:cover;
}

.comment-actions button.active, .reply-actions button.active { color: #1976d2; font-weight:600; }

.replies { padding-left: 48px; margin-top:8px; display:flex; flex-direction:column; gap:8px; }

.reply-item { background:#fafafa; padding:8px; border-radius:8px; }

.reply-input { display:flex; gap:8px; margin-top:8px; }
.reply-input input { flex:1; padding:8px; border-radius:8px; border:1px solid #ddd; }
.reply-input button { background:#0b73d6; color:white; border:none; padding:8px 10px; border-radius:8px; cursor:pointer; }
