/* src/components/layout/Sidebar.css */
.sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  position: fixed;
  z-index: 1000; /* Make sure it's above the main content */
  height: 100vh; /* Full viewport height */
  background: #0b0a0aff;
  margin-left: -8px;




}
.logo-container {
  display: flex;
  align-items: center;
    margin-bottom: 30px;
    cursor: pointer;

}
.logo-image{
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.logo-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #1976d2;
  margin-top: 0;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.username {
  margin-top: 0.5rem;
  color: white;
  cursor: pointer;
}

.sidenav-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidenav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 8px 12px;
  border-radius: 8px;
}

.sidenav-item:hover {
  background: #89c4ff;
}

.sidenav-item.active {
  background: #599ee2;
  font-weight: 600;
}

/* --- ICON COLORS --- */
.home-icon {
  color: #044483; /* Blue */
}

.media-icon {
  color: #e91e63; /* Pink */
}

.explore-icon {
  color: #ff9800; /* Orange */
}

.people-icon {
  color: #137d17; /* Green */
}

.saved-icon {
  color: #9c27b0; /* Purple */
}

.creators-icon {
  color: #0fb920; /* Gold */
}

/* Logout Button */
.logout-btn {
  background-color: #d34d58;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin-bottom: 16px;

}
.login-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin-bottom: 22px;

}

.logout-btn:hover {
  background-color: #6c030d;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
