/* src/components/layout/Topbar.css */
.topbar {
  display: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  position: fixed;
    z-index: 1000;
      background: #141414;
      width: 100%;
      margin-top: -8px;
      margin-left: -6px;



}
.top-logo-container {
  display: flex;
  align-items: center;
    cursor: pointer;

}
.logo-image{
  width: 36px;
  height: 36px;
  margin-right: 10px;
  align-items: center;


}
.top-logo-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #1976d2;
  align-items: center;

}
.topbar-right{
  text-align: center;
  display: flex;
  flex-direction: row;
}
.top-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logout-btn-top {
  background: none;
  border: none;
  cursor: pointer;
  color: #d34d58;
  margin-left: 10px;
  margin-right: 15px;
}
.login-btn-top {
  background: #1976d2;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .topbar {
    display: flex;
  }
}
