.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.reset-box {
  background: black;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;

}

.reset-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-box input {
  width: 100%;
  margin-left: -12px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reset-box button {
  width: 100%;
  padding: 12px;
  background: #1273dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.hint { font-size: 0.8rem; color: #666; margin-bottom: 24px; }
.success {
  color: green;
}

.error {
  color: red;
}
