.create-post-page{
  margin-left: 270px;
  background: #141414;

}

.create-post {
  max-width: 600px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 12px;
  background: black;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: auto;
}

.create-post h2 {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.textarea{
  border-radius: 8px;
  background-color: #777;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 40px 10px;
  transition: border-color 0.3s;
  cursor: pointer;
  color: #777;
}

.drop-zone.active {
  border-color: #1976d2;
  background-color: #f5faff;
}

.preview-image, .preview-video {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.upload-section {
  text-align: center;
}

.upload-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #1976d2;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #1565c0;
}

.submit-btn {
  margin-top: 10px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 22, 22, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #234fe3;
  font-size: 1.1rem;
  font-weight: 500;
}

.loading-overlay p {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .create-post {
  margin: 80px auto;
  margin-top: 150px;
  margin-top: 79px;
}
.create-post-page{
  margin-left: 0px;
}
}